/**
** LOADING BAR ANIMATION
**/
@keyframes loadingBarContainerFadeIn {
    100% {
        background-color: rgba(30, 41, 59, 0.888);
        opacity: 1;
    }
}

@keyframes loadingBarContainerFadeOut {
    100% {
        opacity: 0;
    }
}

#loading-bar-container-in {
    opacity: 0;
    transition: all .23s;
    background-color: rgb(30, 41, 59);
    animation: .5s loadingBarContainerFadeIn forwards ease-in;
}

#loading-bar-container-out {
    background-color: rgba(30, 41, 59, 0.888);
    opacity: 1;
    transition: all .23s;

    animation: .5s loadingBarContainerFadeOut forwards ease-in;
}

@keyframes loadingBarAnimateInner {
    25% {
        transform: translateY(-25%);
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    75% {
        transform: translateY(-40%);
    }

    100% {
        transform: translateY(0%);
        opacity: 0;
    }
}

@keyframes loadingBarAnimateOuter {
    25% {
        transform: translateY(-40%);
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    75% {
        transform: translateY(-55%);
    }

    100% {
        transform: translateY(0%);
        opacity: 0;
    }
}

@keyframes loadingBarAnimateCenter {
    25% {
        transform: translateY(-25%);
    }

    50% {
        opacity: 1;
        transform: translateY(25%);
    }

    75% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0%);
        opacity: 0;
    }
}

#loading-bar span:nth-child(1) {
    opacity: 0;
    animation: 1.25s loadingBarAnimateInner forwards infinite ease-out;
}

#loading-bar span:nth-child(2) {
    opacity: 0;
    animation: 1.25s .25s loadingBarAnimateOuter forwards infinite ease-in-out;
}

#loading-bar span:nth-child(3) {
    opacity: 0;
    animation: 1.25s .5s loadingBarAnimateCenter forwards infinite ease-in-out;
}

#loading-bar span:nth-child(4) {
    opacity: 0;
    animation: 1.25s .25s loadingBarAnimateOuter forwards infinite ease-in-out;
}

#loading-bar span:nth-child(5) {
    opacity: 0;
    animation: 1.25s loadingBarAnimateInner forwards infinite ease-in-out;
}
/**
** HEADER POPUP ANIMATION
**/
@keyframes headerPopupOn {

    70% {
        transform: translateX(30%);
    }
    85% {
        transform: translateX(-10%);
    }
    95% {
        transform: translateX(5%);
    }
    100% {
        color: white;
        transform: translateX(0%);
        opacity: 1;
        margin-left: -0.5rem;
        border-left: 1rem solid orange;
    }
}
@keyframes headerPopupOut {
    100% {
        color: transparent;
        transform: translateX(-100%);
        opacity: 0;
    }
}

#header-popup-on {
    color: transparent;
    position: absolute;
    z-index: 30;
    padding: 1rem 2rem;
    opacity: 0;
    bottom: -4.75rem;
    transform: translateX(-100%);
    border-left: 1rem solid transparent;
    margin-left: 0;
    width: max-content;

    animation: 0.5s headerPopupOn forwards ease-in;
}
#header-popup-out {
    padding: 1rem 2rem;
    color: white;
    position: absolute;
    opacity: 1;
    bottom: -3.75rem;
    margin-left: -0.5rem;
    z-index: 30;
    animation: 0.5s headerPopupOut forwards ease-out;
}
